.signWrap {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    height: 100%;
    background: rgba(0,0,0,0.2);
}
.sign {
    position: absolute;
    left: 1%;
    top: 10%;
    background: #fff;
}
label{
    width: 100%;
   text-align: center;
    margin-left: 0.3rem;
    text-align: end;
}

.labelcan{
    width: 20%;
    margin-left: 0.8rem;

}

body{
    /*   background: url("http://lllison.viphk.ngrok.org/api/img/beij.png");*/
 /*   background: url("../img/beij.png");*/
}

span{

    margin-left: 4.5rem;
}

#imageId{
    width: 99%;
}
#c0,#c1,#c2,#c3,#c4,#c5,#c6,#c7{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: 40px;
    /*border: 0.5px solid #ddd;*/
    overflow: scroll;
}
.labelQcck{
    font-family: '微软雅黑', '宋体', sans-serif;
    font-size: 14px;
    font-weight:bold;
}

.labelCanBie{
    font-family: '微软雅黑', '宋体', sans-serif;
    font-size: 17px;
    font-weight:bold;
}
.labelQxiang{
    font-family: '微软雅黑', '宋体', sans-serif;
    font-size: 14px;
    font-weight:bold;
    color: #ce8323;
}
.labelyue{
    font-family: '微软雅黑', '宋体', sans-serif;
    font-size: 14px;
    font-weight:bold;
    color: #746b80;
}